*,
*::before,
*::after{
box-sizing:border-box;
margin:0;
padding:0;
}

.body {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

.container-h .namesite {
    font-family: "Raleway";
    font-weight: 700;
    text-decoration: none;
    font-size: 26px;
    max-width: 145px; 
    margin-left:215px;
    }

.at-namesite:focus,
.at-namesite::hover,
.namesite:focus,
.namesite:hover {
    background-color: #2196f3;
}

.address:hover,
.address:focus,
.at-nav-contact:hover,
.at-nav-contact:focus,
.at-namesite.focus,
.at-namesite:hover,
.at-nav-item:focus,
.at-nav-item:hover {
    color: #2196f3;
}

.subtitle:focus,
.bot:focus {
    background-color: #ffffff;
    color: #2196f3;
}

.at-nav-contact:visited {
    color: green;
}

.at-namesite {
    color: #2196f3;
}


.item-contact,
.equipment,
.picture-buss,
.card-feature,
.menu-nav,
.nav-contact {
    list-style-type: none;
}


.at-nav-item {
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 16,41px;
    letter-spacing: 0.02em;
    color: #212121;
}

.portitle {
    font-family: "Roboto";
    font-size: 16px;
    font-variant: normal;
}

.at-nav-contact {
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.banner {
    font-family: "Roboto";
    font-size: 44px;
    text-align: center;
    color: #ffffff;
    padding-inline: 1;
    font-weight: 700;
    line-height: 60px;
    max-width: 660px;
    max-height: 120px;
    left: 448px;  
}

.bot {
    font-family: "Roboto";
    line-height: 1.875;
    font-weight: bold;
    font-size: 16px;
    background-color: #2196f3;
    color: rgba(255, 255, 255, 1);
    gap: 10px;
    padding: 10px, 32px, 10px, 32px;
    top: 430px;
    left: 666px;
    width: 261px;
    height: 50px;
    border-radius: 4px;
}

.bot.focus,
.bot:hover {
    background-color: #166fb8;
    color: rgba(255, 255, 255, 1);
}

.box-feature{ 
    width:270px;
    height: 251px;
    margin-top: 25px;
}

.card-feature img{  
display: block;
margin:auto;
}

.subtitle {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 3%;
    text-transform: uppercase;
    margin-top:50px;
    top: 775px;

}

.content {
    font-family: "Roboto";
    font-style:normal;
    line-height:24px;
    font-size: 14px;
    text-align: left;
    color: rgba(117, 117, 117, 1);
    max-height: 75px;
    max-width: 270px;
    left: 215px;
    margin-top:10px;
}


.title-bsn {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.19;
    padding-top: 94px;
    letter-spacing: 0.03em;
    padding-bottom:55.05px;
    text-align: center;
}


.sticker{
    display:flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-content: center;
    width: 370px;
    height: 70px;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    background: #2F303ACC;
    color: #ECECEC;
    z-index: 2;
    margin-top:-75px;
}   
.team-title{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.19;
    padding-bottom:50px;
    letter-spacing: 0.03em;
    text-align: center;
}


.team-member {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

.line-manager {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(117, 117, 117, 1);
    margin-top:10px;
}

.team-box {
    background-color: #F5F4FA;
    line-height: 0.1;
    gap:30px;
    max-width: 1600px;
    height: 708px;
}

.box {
    display:flex;
    background: rgba(47, 48, 58, 1);
    max-width: 1600px;
    height: 252px;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 24px;
    margin-top:94px;
    padding:50px;
}

.item-footer {
    font-family: "Raleway";
    font-size: 26px;
    text-decoration: none;
    font-weight: 700;
    margin-left: 215px;
    line-height: 30.52px;
}


.item-contact {
    display:flex;
    flex-direction: column;
    font-family: "Roboto";
    font: size 14px;
    font-style: normal;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding-left: 215px;
    padding-top:9px;
}   

.sec-buss {
    font-family: "Roboto";
    font-style: Regular;
    font-size: 16px;
    color: rgba(117, 117, 117, 1);
    line-height: 30px;
    background: linear-gradient(0deg, #EEEEEE, #EEEEEE),linear-gradient(0deg, #FFFFFF, #FFFFFF);

}

.div-buss {
    font-family: "Roboto";
    font-style: Regular;
    font-size:18 px;
    font-weight: 700px;
    text-transform: initial;
    line-height: 36px;

}

.address {
    font-weight: bold;
}

.btn-buss {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-align: center;
    text-decoration: none;
    color: #212121;
    border-bottom: #ffffff;
    background: #ffffff;
    border: none;
}

.btn-buss:active,
.btn-buss:focus,
.btn-buss:hover {
    background-color: #2196f3;
    color: #ffffff;
    font-weight: 500;
}

.container-h{ 
    display:flex;
    flex-direction:row;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
    max-width:1600px;
    height: 80px;
}

.container-h .nav-contact{
    display:flex;
    flex-grow: 0;
    gap:50px;
    align-items: center;
}



.menu-nav {
display:flexbox;
min-width:  281px;
height: 16px; 
margin-left:93px;  
}


.container-h .nav-item{
    padding:0;
    margin:0;
    display:inline;
    display:list-item;
    display:inline-flex;
    list-style: 0;
    justify-content:center;
}


.nav-item:nth-child(2){
margin-left: 50px;
}

.nav-item:nth-child(3){
margin-left: 50px;
}



.canvas{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 1600px;
height: 600px;
background-color: #2f303a 40%;
border: 1px solid #ECECEC;
}

.canvas{
 background-image: url("../imagenes/ppal.jpg");
}

.card-feature {
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    gap: 30px;

}

.gal-about{  
    max-width: 1170px;
    height: 251px;
    margin-top: 82px;
    margin-right:auto;
    margin-left:auto;
}

.menu-opt{
    display:flex;
    max-width: 611px;
    align-items:flex-end;
    list-style-type: none;
    margin-left:580px;
    margin-right: auto;
    gap:35px;   
    margin-top:112px; 
    margin-bottom:34px;
}

.contalab{
display:flex;
flex-direction: row;
flex-wrap: wrap;
max-width: 1173,16px;
}


.equipment{
    display:flex;
    flex-direction:row;
    justify-content:center;
    max-width:1177px;
    height: 428px;
    margin-top:50px;
    margin-bottom:50px;
    gap:37px;
    margin-right: auto;
    margin-left:auto;
}

.menu-port-buss{
    display:flex;   
    max-width:1170px;
    flex-wrap:wrap;
    justify-content:center;
    list-style-type: none;
    gap:20px;
    margin-bottom: 82px;
    margin-left:auto;
    margin-right:auto;
}

.info-bussines{
    display:flex;
    max-width: 1173.16px;
    justify-content:flex-start;
    gap:30.26px;
    margin-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
}

.card{
width:270px;
height: 428px;
box-shadow: 0px 2px 1px 0px #00000033,0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;
background: #ffffff;  
}


.card-por img{
  border: 1px solid #EEEEEE;
  width: 370px;
  height: 404px; 
  background: linear-gradient(0deg, #EEEEEE, #EEEEEE),linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 1px solid #EEEEEE;
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000F,0px 1px 1px 0px #0000001F
}

.card-body{
    margin-top: 30px;
}

.nav-ico{
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.icon-social{
    margin-top:16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    width:270px;
    height:44px;
}

.icon-social img{
    height: 20px;
    width: 20px;
}

.list-regards{
    display:flex;
    display:inline-block;   
    min-width: 1170px;
    height: 162px;
    flex-wrap: nowrap;
    margin-top:59px;
    flex-shrink: 3;
    margin-left: 6.5%;
}

.title-list {
margin-bottom:38px;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
}

.list-regards .enter-list{
display:flex;
display:inline-block;
border:1px ridge grey;
width: 170px;
height: 81px;
flex-shrink: 1;
}


.enter-list img{
    display:flex;
    display:block;
    margin: auto;
    margin-top:15px;
}
    


.enter-list:nth-child(2){
    margin-right:-1;  
}

.enter-list:nth-child(3){
    margin-left:2.17%;   
}

.enter-list:nth-child(4){
    margin-left:2.17%;  
}

.enter-list:nth-child(5){
    margin-left:2.17%;  

}

.enter-list:nth-child(6){
    margin-left:2.17%;  
}

.enter-list:nth-child(7){
    margin-left:2.17%;  
}

.table-social{
    display:flex;
    flex-direction: column;
    width: 206px;
    height: 80px;
    margin-left: 70px;
}


.title-social {
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
width: 135px;
height: 16px;
top: 2751px;
left: 516px;
color:  #FFFFFF;
margin-bottom:20px;
}

.table-social .list-socials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
