.body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

.nombre {
    font-family: 'Raleway';
    font-weight: 700;
    text-decoration: none;
    font-size: 26px;
}

.azul:focus,
.negro:focus,
.azul::hover,
.negro:hover,
.nombre:focus,
.nombre:hover {
    background-color: #2196F3;
}

.direccion:hover,
.direccion:focus,
.sinlineacont:hover,
.sinlineacont:focus,
.azul.focus,
.azul:hover,
.sinlinea:focus,
.sinlinea:hover {
    color: #2196F3;
}


.subtitle:focus,
.bot:focus {
    background-color: #FFFFFF;
    color: #2196F3;
}

.sinlineacont:visited {
    color: green;
}

.azul {
    color: #2196F3;
}

.negro {
    color: black;
}

.enlacontac,
.integrantes,
.imagenes,
.caracteristica,
.navega,
.navcontactos {
    list-style-type: none;
}

.sinlinea {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #212121;
}

.portitle {
    font-family: 'Roboto';
    font-size: 16px;
    font-variant: normal;
}

.sinlineacont {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #757575;
}

.banner {
    font-family: 'Roboto';
    text-align: left;
    font-size: 25px;
    color: #FFFFFF;
    padding-top: 0;
}

.marco {
    width: 100%;
    height: 120px;
    background-color: #2F303A;
    margin-top: 0;
}

.bot {
    font-family: 'Roboto';
    line-height: 1.875;
    font-weight: bold;
    font-size: 16px;
    background-color: #2196F3;
    color: rgba(255, 255, 255, 1);
    gap: 10px;
    padding: 10px, 32px, 10px, 32px;
    top: 430px;
    left: 666px;
}

.bot.focus,
.bot:hover {
    background-color: #166fb8;
    color: rgba(255, 255, 255, 1);
    ;
}

.subtitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 3%;
    text-transform: uppercase;
    height: 16px;
    width: 270px;
    left: 215px;
    top: 775px;
    border-radius: nullpx;
}

.descri {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    text-align: left;
    color: rgba(117, 117, 117, 1);
    height: 75px;
    width: 270px;
    left: 215px;
    top: 801px;
    border-radius: nullpx;

}

.equipo,
.labor {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.19;
    text-align: left;
    letter-spacing: 0.03em;
}

.integrante {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;

}

.cargo {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;

}

.espaciosencillo {
    line-height: 0.1;
}

.box {
    background: rgba(47, 48, 58, 1);
}

.pie {
    font-family: 'Raleway';
    font-size: 26px;
    text-decoration: none;
    font-weight: 700;
}

.enlacontac {
    font-family: 'Roboto';
    font: size 14px;
    font-style: normal;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.seccion {
    font-family: 'Roboto';
    font-style: Regular;
    font-size: 16px;
    color: rgba(117, 117, 117, 1);

}

.division {
    font-family: 'Roboto';
    font-style: Regular;
    font-size: 16px;
    text-transform: initial;
}

.direccion {
    font-weight: bold;
}


.btnport {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-align: center;
    text-decoration: none;
    color: #212121;
    border-bottom: #FFFFFF;
    background: #FFFFFF;
    border: none;
}

.btnport:focus,
.btnport:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    font-weight: bold;
}