*{
  box-sizing: border-box;
}

body {
background-color: beige;
}


.container{
  height: 500px;
  display:flex;
  background: #CCC;
  border: 1px solid black;
  padding:20px;
  display:flex;
  flex-wrap:wrap;
  align-items: flex-start;
  justify-content:space-between;
  align-content: flex-start;
  margin:0 auto 
}

.containerestrech{ 
  height: 500px;
  display:flex;
  background: #CCC;
  border: 1px solid black;
  padding:20px;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin:0 auto 
}

.box{
  margin:5px;
  border:1px solid red;
  background-color:white;
  color:black;
  font-family:'Courier New';
  width:120px;
  line-height:120px;
  text-align: center;
}


.c1{
  background-color: aquamarine;
  width:200px;
  margin:5px;
  border:1px solid red;
  color:black;
  font-family:'Courier New';
  line-height:200px;
  text-align: center;
  order:2;
  flex-grow:5;
  flex-shrink: 1;
}

.c2{
  background-color: #9998;
  width:200px;
  margin:5px;
  border:1px solid red;
  font-family:'Courier New';
  line-height:200px;
  text-align: center;
  order:3;
  flex-grow:6;
  flex-basis:30%;
}

.c3{
  background-color: green;
  width:200px;
  margin:5px;
  border:1px solid red;
  color:black;
  font-family:'Courier New';
  line-height:200px;
  text-align: center;
  flex-grow: 6;
}