
/* section clientes*/

.clients__title 
    margin-bottom: 38px
    font-family: $main-font
    font-size: 36px
    font-weight: 700
    line-height: 42px
    letter-spacing: 0.03em
    text-align: center


.clients .clients__link 
    display: flex
    display: inline-block
    border: 1px ridge grey
    width: 170px
    height: 81px
    flex-shrink: 1



.clients__link img 
    display: flex
    display: block
    margin: auto
    margin-top: 15px



.clients__link:nth-child(2) 
     margin-right: -1


.clients__link:nth-child(3)
    margin-left: 2.17%


.clients__link:nth-child(4)
    margin-left: 2.17%

.clients__link:nth-child(5)
    margin-left: 2.17%


.clients__link:nth-child(6)
    margin-left: 2.17%

.clients__link:nth-child(7)
    margin-left: 2.17%


/* Termina seccion */
